@model BaseGenerator
@using TheRandomizer.Generators
@using TheRandomizer.Generators.Assignment
@using TheRandomizer.Generators.Phonotactics
@using TheRandomizer.WebApp.Controllers
@using TheRandomizer.WebApp.HelperClasses


<div class="col-md-6 pull-left">
    @Html.Partial("_EditorButtons")
</div>
<div class="col-md-6 pull-right">
    @if (User.Identity.GetIsAdministrator() && Model.Id != 0)
    {
        @Html.Partial("_AdminButtons", Model)
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <b class="panel-title">Information</b>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#Information" style="color:black"><span id="InfoCollapseIcon"></span></button>
            </div>
            <div class="panel-body panel-collapse collapse in" id="Information">
                <div class="form-group">
                    <fieldset class="form-inline">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @title = "The unique name of the generator." })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <fieldset class="form-inline">
                        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control", @title = "The name or username of the author of the generator." } })
                            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @title = "A brief description of what the generator does." })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TagList, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.TagList, htmlAttributes: new { @class = "tokenfield form-control", @title = "A list of tags used for categorizing the generator" })
                        @Html.ValidationMessageFor(model => model.TagList, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <fieldset class="form-inline">
                        @Html.LabelFor(model => model.OutputFormat, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                        <div class="col-md-8">
                            @Html.EnumDropDownListFor(model => model.OutputFormat, htmlAttributes: new { @class = "form-control", @title = "The type of output expected by the generator." })
                        </div>
                    </fieldset>
                </div>
                

                @if (Model.GetType() == typeof(AssignmentGenerator))
                {
                    var assignment = (AssignmentGenerator)Model;
                    <div class="form-group">
                        @Html.LabelFor(model => model.SupportsMaxLength, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.SupportsMaxLength, htmlAttributes: new { @data_toggle = "toggle", @data_on = "Yes", @data_off = "No", @class = "btn btn-default", @title = "If true, the user can select a maximum character length for the generated result" })
                            @Html.ValidationMessageFor(model => model.SupportsMaxLength, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => assignment.IsLibrary, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => assignment.IsLibrary, htmlAttributes: new { @data_toggle = "toggle", @data_on = "Yes", @data_off = "No", @class = "btn btn-default", @title = "Used to designate that this is a library only.  Libraries cannot generate content on their own but are imported by Assignment Generators" })
                            @Html.ValidationMessageFor(model => assignment.IsLibrary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                @if (Model.GetType() == typeof(PhonotacticsGenerator))
                {
                    var phonotactics = (PhonotacticsGenerator)Model;
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => phonotactics.TextCase, htmlAttributes: new { @class = "control-label text-left col-md-2" })
                        <div class="col-md-8">
                            @Html.EnumDropDownListFor(model => phonotactics.TextCase, htmlAttributes: new { @class = "form-control", @style = "max-width: 196;", @title = "The text case to use for the resulting output." })
                            @Html.ValidationMessageFor(model => phonotactics.TextCase, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row" id="ParameterContainer">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <b class="panel-title">Parameters</b>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ParameterList" style="color:black"><span id="ParameterCollapseIcon"></span></button>
                <div class="btn-group-sm pull-right">
                    <button id="ClearParameters" type="button" class="btn btn-default" title="Clear all of the parameters"><span class="glyphicon glyphicon-remove"></span> Clear</button>
                    <button id="AddParameter" type="button" class="btn btn-default" title="Add a new parameter"><span class="glyphicon glyphicon-plus"></span> Add</button>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse in" id="ParameterList">
                <div class="form-group">
                    <div class="col-md-2">@Html.Label("Name", htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-md-2">@Html.Label("Display Name", htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-md-2">@Html.Label("Type", htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-md-2">@Html.Label("Value", htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-md-3">@Html.Label("Options", htmlAttributes: new { @class = "control-label" }) </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div id="Parameters" name="Parameters" class="itemListStriped" data-item-container>
                    <input type="hidden" id="ParameterIndex" value="@Model.Parameters.Count" />
                    @for (var i = 0; i < Model.Parameters.Count; i++)
                    {
                        @Html.EditorFor(bg => bg.Parameters[i])
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.tokenfield').tokenfield({
            name: "tagListField",
            autocomplete: {
                source: [@Html.Raw(string.Join(",", HomeController.GetTags().Select(t => $"'{t}'").ToArray()))],
                delay: 100
            }
        });

        $('.tokenfield').on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function (index, token) {
                if (token.value === event.attrs.value)
                    event.preventDefault();
            });
        });

        $('#Parameters').EnableDisableItemUpDowns();

        $("#Parameters").on("click", "[data-toggle = 'DeleteItem']", function () {
            $(this).parents("[data-item-row]").deleteItem();
        })

        $("#ClearParameters").click(function () {
            $('#Parameters').clearItems("Confirm", "Are you sure you want to clear all parameters?");
        })

        $("#AddParameter").click(function () {
            var index = parseInt($("#ParameterIndex").val());
            $("#ParameterIndex").val(index + 1);
            $("#Parameters").addItem("CreateParameter", index);
            return false;
        })

        $("#Parameters").on("click", "[data-toggle = 'MoveItemUp']", function () {
            var selected = $(this).parents('[data-item-row]');
            selected.moveItemUp();
        })

        $("#Parameters").on("click", "[data-toggle = 'MoveItemDown']", function () {
            var selected = $(this).parents('[data-item-row]');
            selected.moveItemDown();
        })

        RegisterCollapseElement("#Information", "#InfoCollapseIcon");
        RegisterCollapseElement("#ParameterList", "#ParameterCollapseIcon");
    })
</script>