
@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Not Found</title>
</head>
<body>
    <div class="col-md-12 center-block text-center">
        <h1 class="">404 - Page Not Found</h1>
        <h3 class="">@(string.IsNullOrWhiteSpace(ViewBag.Action) ? "Looks like someone rolled a natural 1!" : ViewBag.Action)</h3>
        <img src="~/Content/Images/Randomizer1.png" class="img-responsive center-block" width="240" height="240" />
        <h3 class="">@(string.IsNullOrWhiteSpace(ViewBag.Result) ? "" : ViewBag.Result)</h3>
    </div>
</body>
</html>
